/EditorFrameworkInterfaces/build/
/EditorFrameworkInterfaces/dist/
/TextFactory/nbproject/private/
/ImageFactory/nbproject/private/
/EditorFramework/dist/
/EditorFramework/build/
/ImageFactory/build/
/ImageFactory/dist/